<!DOCTYPE html>

<html>
    <head>
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>This site was created by Aviv Dayan. It uses data from mapbox.com and darksky.net!!</p>
        <img src='/img/robot.png'>
        {{>footer}}
    </body>
</html>